:root {
    --primary-color-hue: 252;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;
    --color-white: hsl(252,30%,var(--white-color-lightness));
    --color-light: hsl(252,30%,var(--light-color-lightness));
    --color-gray: hsl(var(--primary-color-hue),15%,65%);
    --color-primary: hsl(var(--primary-color-hue),75%,60%);
    --color-secodary: hsl(252,100%,90%);
    --color-succes: hsl(120,95%,65%);
    --color-danger: hsl(0,95%,65%);
    --color-dark: hsl(252,30%,var(--dark-color-lightness));
    --color-black: hsl(252,30%,10%);
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}
*{
    border: 0;
    outline: none;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.35s linear;
    letter-spacing: 1px;
}
body{
 transition: background .5s ease-in;
    display: grid;
    background: #222;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    background-color: #fff;

}
#time{
    text-align: center;
    font-family: system-ui;
    font-weight: 500;
    margin: 0 120px;
    transition: .4s;
    cursor: pointer;
}
#time:hover{
    color: #e91e63;
}
.btn-primary {
    background-color: var(--color-primary);
    color: white;

}
.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    border: none;
    
}
.btn:active {
    opacity: .9;
}

.player{
    width: 640px;
background: rgba(255, 255, 255, 0.76);
display: grid;
grid-template-columns: 48px 1fr 48px;
grid-gap: 16px;
padding: 8px 24px;
border-radius: 64px;
margin: 20px auto 0 auto;
position: relative;
}
.control,#current {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
}
#playbtn{
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-primary);
cursor: pointer;
display: none;
}
#playbtn:hover{
    -webkit-text-fill-color:var(--color-primary);
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}
#current {
    text-align: right;
}
.bar{
    --space:-4px;
    background-color: var(--color-primary);
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: absolute;
    border-radius: 54px;
    z-index: -2;
}
#progress{
    display: block;
    width: var(--progress,0%);
    background-color: rgb(255, 255, 255);
    transition: all 1s linear;
    height: 100%;
}
.slider-cont{

    padding: 25px;
    background: #fff;
    border-radius:50px;
    display: flex;
    align-items: center;
margin-bottom: 20px;
margin: 20px auto;
border: solid 4px var(--color-primary);
}
.slider-speed{
    
    padding: 20px;
    background: #fff;
    border-radius:50px;
    display: flex;
    align-items: center;
margin:  auto;
border: solid 2px var(--color-primary);
}
.slider{
    position: relative;
    width: 200px;
    height: 20px;
  
}
.speed{
    position: relative;
    width: 220px;
    height: 20px;
   
}
.speed input{
    position: absolute;
    left: -6px;
    top: 0;
    width: 228px;
    height: 20px;
   
    -webkit-appearance: none;
    background-color: transparent;
z-index: 899;
}
.speed input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;

    background-color: #fff;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
}
.speed progress {
    width: 220px;
    height: 20px;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
}
.speed progress::-webkit-progress-bar {
    background-color: #f0f0f0;
}
.speed progress::-webkit-progress-value{
    background-color: var(--color-primary);
}
.slider input{
    position: absolute;
    left: -6px;
    top: 0;
    width: 212px;
    height: 20px;
    -webkit-appearance: none;
    background-color: transparent;
z-index: 899;
}
.slider input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
}
.slider progress {
    width: 200px;
    height: 20px;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
}
.slider progress::-webkit-progress-bar {
    background-color: #f0f0f0;
}
.slider progress::-webkit-progress-value{
    background-color: var(--color-primary);
}
.sliderValue{
    font-family: system-ui;
    width: 28px;
    height: 20px;
    margin-left: 10px;
text-align: center;

}
.btnBig{
margin: 15px 30px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
text-align: center;
gap: 5px;
}
.bt{
    padding: 12px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    font-family: system-ui;
    background: var(--color-primary);
    border-radius: 15px;
    cursor: pointer;
}
#moon,#sun{
    cursor: pointer;
    font-size: 1.8rem;
transition: .3s;
}
#sun{
    margin-left:  140px;
    margin-right: 8px;
}
#sun:hover{
color: gold;
}
#moon:hover{
    color: rgb(160, 0, 0);
}
@media screen and (max-width:650px){
    #moon,#sun{
        cursor: pointer;
        font-size: 1.8rem;
    transition: .3s;
    }
    #sun{
        margin-left: 40px;
        margin-right: 5px;
    }
    .player{
        width: 380px;
  
    }
}
